
@{
    ViewBag.Title = "CV";
}

<h2>MY @ViewBag.Title</h2>
<div style="padding-bottom:2em">
    <p> Check Out My CV Here:</p>
    <embed src="Others/CV_Daniel_Stoyanov.pdf" width="800px" height="2100px">
    <a class="btn-success btn-lg" href="Portfolio/CV">CV</a>
</div>