@{
    ViewBag.Title = "About";
}
<div>
<h2 style="padding-bottom: 0.5em">This Webpage:</h2>
<h4 style="padding-left: 5em"> is a Mandatory Assingment #2 for the ASP .NET Elective class at KEA </h4>

</div>
