@{
    ViewBag.Title = "Contact";
}
<h2 style="text-decoration:underline">@ViewBag.Title Me :</h2>


<address>
    Kettegard Alle 70<br />
    +45 71 68 50 71 <br />
</address>

<div style="padding-bottom:2em">
    <p> Add Me On Social Media:</p>
    <a class="btn-info btn-lg" href="https://dk.linkedin.com/in/daniel-stoyanov-69bb5111a">LinkedIn</a>
    <a class="btn-primary btn-lg" href="https://facebook.com/testtesttest">Facebook</a>
</div>

<div style="padding-bottom:2em">
    <p> Get Webpage Source Code Here:</p>
    <a class="btn-warning btn-lg"href="https://github.com/danielradst/MvcMovieCatalog/m">GitHub</a><br />  
</div>

<div style="padding-bottom:2em">
    <p style="font-size:20px"> Check Out My CV Here:</p>
    <embed src="../Others/CV_Daniel_Stoyanov.pdf" width="900px" height="1100px">
</div>